
 
 
<h1>Create New Article</h1> 
<%= bootstrap_form_for(@article) do |f| %>
	<div class=row>
		<div class="col-md-4 col-md-offset-4">
			<%= f.text_field :title %>
		</div>
	</div>
	<div class=row>
		<div class="col-md-4 col-md-offset-4">
			<%= f.text_area :text %>
		</div>
	</div>
	<div class=row>
		<div class="col-md-2 col-md-offset-6">
			<%= f.submit%>
		</div>
	</div>
<% end %>
